header{
	background-color: #B0ACB8;
}

.placeholder{
	height: 200px;
	width: 200px;
	background-color: #3E2E5E;
}

.heading{
	text-align: center;
}

.home{
	background-color: #3E2E5E;
}

.global-nav{
	background-color: white;
}

.local-nav{
	background-color: #B0ACB8;
}