header{
	background-color: #B0ACB8;
}

.placeholder{
	height: 200px;
	width: 200px;
	background-color: #3E2E5E;
}

.heading{
	text-align: center;
}

.global-nav{
	background-color: #3E2E5E;
}

.global-nav a{
	color: white;
}

.local-nav{
	background-color: #B0ACB8;
}

.local-nav a{
	color: #3E2E5E;
}

section{
	padding-top: 20px;
	padding-bottom: 20px;
}

.video-placeholder{
	height: 270px;
	width: 480px;
	background-color: black;
}
